.container {
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
}

.intro {
  height: 100vh;
  padding-top: 100px;
  isolation: isolate;
  position: relative;
}

.something {
  height: 2000px;
}

.sun {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: var(--yellow-sun);
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.sun > img {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.city {
  z-index: 2;
}

.city > img {
  width: 100%;
  object-fit: contain;
}

.fixed {
  position: fixed;
  left: 0;
  right: 0;
}

.fixed-container {
  position: relative;
  height: calc(100vh - 100px);
  clip-path: inset(0 0 0 0);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.top {
  top: 0;
}