.container {
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  font-family: 'Hind Siliguri', sans-serif;
  padding-bottom: 100px;
}

.intro {
  height: 100vh;
  padding-top: 100px;
  isolation: isolate;
  position: relative;
}

.sun {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: var(--yellow-sun);
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.sun > img {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.city {
  z-index: 2;
}

.city > img {
  width: 100%;
  object-fit: contain;
}

.fixed {
  position: fixed;
  left: 0;
  right: 0;
}

.fixed-container {
  position: relative;
  height: calc(100vh - 100px);
  clip-path: inset(0 0 0 0);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.top {
  top: 0;
}


@media only screen and (min-width: 600px)  {
  .experience {
    margin-left: 15%;
  }
}

.experience > h1 {
  font-size: 3.8rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.15rem;
  margin-bottom: 2rem;
}

.mt-150 {
  margin-top: 350px;
}

/* experience */

.experience-node {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  min-height: 120px;
}

.left-side {
  grid-column: 1;
  border-right: 2px solid black;
  text-align: right;
  padding-right: 1rem;
}

.left-side::after {
  border: 2px black solid;
  position: absolute;
  width: 20px;
  height: 20px;
}

.right-side {
  position: relative;
  grid-column: 2;
}

.pink-dot {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: var(--advanced-salmon);
  border-radius: 50%;
  bottom: 2rem;
  left: -2rem;
}

.relative {
  position: relative;
}

.experience-node > .divider {
  /* position: absolute; */
  height: 100px;
  top: 0.5em;
  left: 13px;
  background-color: black;
  width: 2px;
}

.experience-node:last-child > .divider {
  height: 50px;
  top: 0.5em;
  left: 13px;
  background-color: black;
  width: 2px;
}

.experience-node  .title {
  font-size: 1.25rem;
  font-weight: 500;
}

.experience-node  .datestring {
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 500;
}


.experience-node  .company {
  font-size: 2rem;
  font-weight: 900;
}

.experience-node  .location {
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
  margin-left: 25px;
}

/* skills */

.skills > h1 {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 275px;
  text-align: center;
  letter-spacing: 0.2em;
}

@media screen and (min-width: 600px) {
  .skills > h1 {
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 700;
    font-size: 11rem;
    line-height: 275px;
    text-align: center;
    letter-spacing: 0.2em;
  }
}

.skills-container {
  display: flex;
  justify-content: center;
}

.advanced-label {
  writing-mode: vertical-rl;
  text-align: center;
  letter-spacing: 0.3rem;
  font-size: 2rem;
  font-weight: bold;
}

.advanced-skill {
  min-width: 200px;
  background-color: var(--advanced-salmon);
  margin: 5px 0;
  padding: 4px 20px;
  border-radius: 1rem;
}

@media screen and (min-width: 600px) {
  .advanced-skill {
    min-width: 700px;
    background-color: var(--advanced-salmon);
    margin: 5px 0;
    padding: 4px 20px;
    border-radius: 1rem;
  }
}

